body{
    background-color: #eee8d5;
}
textarea{
    background-color: #fdf6e3;
    font-family: Courier New, Monospace;
}
#swap{
    background-color: #2aa198;
    color: #ffffff;
}   
#submit{
    background-color: #cb4b16;
    color: #ffffff;
}   
#reset{
    background-color: #b58900;
    color: #ffffff;
}
h2{ 
    color: #586e75;
    font-family: Courier New, Monospace;
}
