body{
    background-color: #eee8d5;
}
textarea{
    font-family: Courier New, Monospace;
    box-sizing: border-box;
    resize: none;
}
#swap{
    background-color: #2aa198;
    color: #ffffff;
}   
#submit{
    background-color: #cb4b16;
    color: #ffffff;
}   
#reset{
    background-color: #b58900;
    color: #ffffff;
}
#r0, #r1, #r2{
    text-align: center;
}
h2{ 
    color: #586e75;
    font-family: Courier New, Monospace;
}
