<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8"/>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>

        <title>Enigma</title>
        
    </head>

    <body>

        <div class="container">

        <div class="page-header">
            <h2>ENIGMA</h2>
        </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">

                        <form action="{{ url_for('index') }}" method="POST" id="inputform"> 
                            <textarea name="plaintext" class="form-control" rows="10" placeholder="Enter text" autofocus></textarea><br>
                            <input name="r0" maxlength="1" size="1">
                            <input name="r1" maxlength="1" size="1">
                            <input name="r2" maxlength="1" size="1">
                            <input id="submit" type="submit" class="button" value="ENCRYPT">
                        </form><br>

                        <textarea id="ciphertext" class="form-control" rows="10" placeholder="Ciphertext">{{ ciphertext }}</textarea>

                    </div>
                </div>
            </div>

        </div>
        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </body>

</html>
